<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".UniPieceApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniPiece"
        tools:targetApi="31">
        <activity
            android:name=".ui.mypage.FollowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.delivery.DeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buy.BuyDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.author.AuthorInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mygallery.SalesApplicationActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3"/>
        <activity
            android:name=".ui.mypage.VisitGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.infomation.InfoAllActivity"
            android:exported="false" />
        <activity
            android:name=".ui.infomation.InfoOneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mygallery.PurchasedPieceDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3"/>
        <activity
            android:name=".ui.mypage.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.author.UpdateAuthorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.author.AddAuthorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.SplashScreen.Unipiece">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:host="oauth"
                    android:scheme="${NATIVE_APP_KEY}"/>

            </intent-filter>
        </activity>
    </application>

</manifest>